
#top {
    position: relative;
    background-color: #545EEB;
    color: white;
    padding: 0px 5px 0px 2%;
    margin: 0px 0px 10px 12%;
    font-family: Helvetica;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: white;
    padding: 5px;
}

.left_content {
    background-color: white;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: white;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
  font-family: Helvetica;
}

#top a:link:hover, #top a:visited:hover  {
  color: #272B6B;
  font-weight : bold;
  text-decoration : none;
  font-family: Helvetica;
  transition: 0.5s;
}
